@model WorkoutTracker.Models.WorkoutFormVM

@{
    ViewData["Title"] = "Create Workout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="d-flex mb-3">
                <h4 class="fw-semibold">Create Workout</h4>
            </div>

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" required placeholder="e.g. Leg Day" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" type="date" class="form-control" required />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                
                <h4 class="mt-3">Exercises</h4>
                <div id="exerciseContainer">
                </div>

                <div class="form-group">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exerciseModal" class="btn btn-primary w-100">+ Add Exercise</button>
                </div>
                <hr />
                <div class="form-group d-flex gap-2">
                    <input type="submit" value="Create" class="btn btn-primary w-50" />
                    <input type="button" value="Cancel" class="btn btn-secondary w-50" onclick="location.href='@Url.Action("Index")';" />
                </div>
            </form>

            <div id="exerciseModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Select Exercise</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body overflow-auto" id="exerciseList">
                            <select class="form-control mb-3" id="muscleGroupSelectList">
                                <option value="all">All Muscles</option>
                                @foreach (var muscleGroup in Model.MuscleGroups)
                                {
                                    <option value="@muscleGroup.Id">@muscleGroup.Name</option>
                                }
                            </select>

                            <div class="input-group rounded-3 mb-3">
                                <span class="input-group-text bi bi-search border-0 text-secondary pe-1" style="background-color: #e2e5e9;"></span>
                                <input class="form-control mr-sm-2 border-0 shadow-none" type="search" placeholder="Search Exercises" aria-label="Search" id="searchInput" style="background-color: #e2e5e9;">
                            </div>

                            @foreach (var exercise in Model.AllExercises)
                            {
                                <div id="@exercise.Id" data-exercise-name="@exercise.Name" data-mg-id="@exercise.MuscleGroup.Id" class="position-relative p-2 rounded-3 exercise-selection-div">
                                    <a class="stretched-link" data-bs-dismiss="modal"></a>
                                    <p class="m-0">@exercise.Name</p>
                                    <p class="text-secondary pb-0 mb-1">@exercise.MuscleGroup.Name</p>
                                </div>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/workoutForm.js"></script>
    <script src="~/js/exerciseFilter.js"></script>
    <script>
        let exerciseIndex = 0;
        const exerciseContainer = document.getElementById("exerciseContainer");
        const muscleGroupSelectList = document.getElementById("muscleGroupSelectList");
        const searchInput = document.getElementById("searchInput");
        const exerciseList = document.getElementById("exerciseList");

        searchInput.addEventListener("input", filterExercises)
        muscleGroupSelectList.addEventListener("change", filterExercises);

        function createExerciseDiv(container, id, name) {
            const newExerciseDiv = document.createElement("div");
            newExerciseDiv.id = `exercise.${exerciseIndex}`;
            newExerciseDiv.classList.add("exerciseDiv", "p-3", "mb-4", "card", "border-light-subtle");
            newExerciseDiv.innerHTML = `
                <div class="form-group">
                    <div class="d-flex gap-2 mb-3 align-items-center">
                        <select name="Exercises[${exerciseIndex}].ExerciseId" class="form-control">
                            <option readonly value="${id}">${name}</option>
                        </select>
                        <button type="button" class="btn-close removeExerciseBtn"></button>
                    </div>
                </div>

                <div class="form-group setDiv">
                    <div class="row mb-1 text-secondary"  style="font-size: 0.75rem;">
                        <label class="col-2 control-label small text-center">SET</label>
                        <label class="col-4 control-label small text-center">LBS</label>
                        <label class="col-4 control-label small text-center">REPS</label>
                        <div class="col-2"></div>
                    </div>
                </div>
                <button type="button" class="btn  btn-secondary w-100 addSetBtn">+ Add Set</button>
            `;
            container.appendChild(newExerciseDiv);

            createSetDiv(newExerciseDiv, exerciseIndex);
            exerciseIndex++;
        }

        exerciseList.addEventListener("click", (e) => {
                if (e.target.closest(".exercise-selection-div")) {
                const selectedExerciseDiv = e.target.closest(".exercise-selection-div");
               
                const id = selectedExerciseDiv.id;
                const name = selectedExerciseDiv.dataset.exerciseName;
                createExerciseDiv(exerciseContainer, id, name);
            }
        })

        exerciseContainer.addEventListener("click", (e) => {
            if (e.target.closest(".removeSetBtn")) {
                const setRow = e.target.closest(".setRow");
                const setContainer = setRow.parentElement;
                setContainer.removeChild(setRow);
                renumberSets();
            } if (e.target.closest(".addSetBtn")) {
                const exerciseDiv = e.target.closest(".exerciseDiv");
                const exIndex = parseInt(exerciseDiv.id.split(".")[1]);
                createSetDiv(exerciseDiv, exIndex);
            } if (e.target.closest(".removeExerciseBtn")) {
                const exerciseDiv = e.target.closest(".exerciseDiv");
                exerciseContainer.removeChild(exerciseDiv);
                renumberExerciseIndex();
            }
        });
    </script>
}